<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>Pokemon Type Game</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script type="text/javascript" src="jquery-2.0.3.js"></script>
    <script type="text/javascript" src="res/js/elementQuery/elementQuery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="filters.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
    <script type="text/javascript" src="services.js"></script>

</head>
<body>
    <article ng-controller="typeGameController" id="pkmGame" style="width: 550px;">
        <section id="gameSection">
            <h1 class="gameTitle">Pokemon Type Game</h1>
            <table class="typesDisplay">
                <tr>
                    <td class="pkmType">
                        <img ng-src="{{leftType.imgsrc}}" class="pkmTypeImg" /></td>
                    <td class="vsSign">
                        <img ng-src="{{imgPath}}Versus_sign.png" class="vsSignImg"></td>
                    <td class="pkmType">
                        <img ng-src="{{rightType.imgsrc}}" class="pkmTypeImg" /></td>
                    <td class="pkmType" ng-if="dualType">
                        <img ng-src="{{dualType.imgsrc}}" class="pkmTypeImg" /></td>
                </tr>
                <tr>
                    <td class="pkmType">
                        <div class="typeName">{{leftType.name}}</div>
                    </td>
                    <td class="vsSign"></td>
                    <td class="pkmType">
                        <div class="typeName">{{rightType.name}}</div>
                    </td>
                    <td ng-if="dualType" class="pkmType">
                        <div class="typeName">{{dualType.name}}</div>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>

            <div class="choices">
                <button ng-click="choose(0)">x0</button>
                <button ng-if="dualType" ng-click="choose(0.25)">x0.25</button>
                <button ng-click="choose(0.5)">x0.5</button>
                <button ng-click="choose(1)">x1</button>
                <button ng-click="choose(2)">x2</button>
                <button ng-if="dualType" ng-click="choose(4)">x4</button>
            </div>
            <div>
                <select ng-model="pathToGenFile" ng-options="item.path as item.name for item in availableGen" ng-change="requestTypes()">
                </select>
                Show history:
                    <input type="checkbox" ng-model="showHistory" id="showHistory" ng-change="historyDisplayChange()" />
            </div>
        </section>

        <section class="historySection" ng-if="showHistory">
            <h1 class="historyTitle">History</h1>
            History Size:
            <input type="integer" ng-model="historyLimit" style="width: 20px;">
            <div class="historyList">
                <div class="historyItem" ng-repeat="h in history | reverse | limitTo:historyLimit">
                    <table class="typesDisplay">
                        <tr>
                            <td class="pkmType">
                                <img ng-src="{{h.leftType.imgsrc}}" class="pkmTypeImg" /></td>
                            <td class="vsSign">
                                <img ng-src="{{imgPath}}Versus_sign.png" class="vsSignImg"></td>
                            <td class="pkmType">
                                <img ng-src="{{h.rightType.imgsrc}}" class="pkmTypeImg" /></td>
                            <td class="pkmType" ng-if="h.dualType">
                                <img ng-src="{{h.dualType.imgsrc}}" class="pkmTypeImg" /></td>
                        </tr>
                    </table>
                    <div class="historyResult">Answer:x{{h.answer}} {{h.answer == h.solution | succesFilter}}  Solution:x{{h.solution}} </div>
                </div>
            </div>
        </section>
    </article>
</body>
</html>
