.clear {
    clear: both;
}

/********************************************/
/********************************************/
/*Pokemon type game Style*/

#pkmGame[max-width~="299px"] {
    /*font-size:10px;*/
}

/********************************************/
/*Section for the game*/
#gameSection {
    width:100%;
}

#gameSection.withHistory {
    float: left;
    width: 60%;
}
/*When the article is too small take all the room*/
#pkmGame[max-width~="299px"] #gameSection.withHistory {
    width:100%;
    float:none;
}


.choices {
    display:table;
    margin:auto;
}

/********************************************/
/*Section for the history*/
.historySection {
    float:left;
    width:40%;
}
/*When the article is too small take all the room and go under*/
#pkmGame[max-width~="299px"] .historySection {
    width:100%;
    float:none;
}

.historyList {
    list-style: none;
}

.historyItem {
    border: solid purple 5px;
    border-radius: 5px;
}

.historyResult {
    text-align:center;
}
/********************************************/
/*Common style for the game*/
.typesDisplay {
    margin: auto;
}
.pkmType {
    width:25%;
    display:inline-block;
}
.vsSign{
    width:15%;
    display:inline-block;
}
.pkmTypeImg {
    width:100%;
}
.vsSignImg {
    width: 100%;
}

.dualTypeDelimiter {
}

.typeName {
    text-align:center;
}


/********************************************/
/********************************************/
/********************************************/
