.clear {
    clear: both;
}

.gameSection {
    float: left;
    width: 500px;
}

.historySection {
    float:left;
}

.typesDisplay {
    margin: auto;
}

.choices {
    display:table;
    margin:auto;
}

.pkmType {
    width:100px;
    height:100px;
}

.pkmTypeHistory {
    width:50px;
    height:50px;
}

.pkmTypeImg {
    width:100%;
}

.vsSign{
    width:50px;
    height:35px;
}

.vsSignHistory{
    width:25px;
    height:17px;
}

.vsSignImg {
    width: 100%;
}

.dualTypeDelimiter {
}

.typeName {
    text-align:center;
}


.historyList {
    list-style: none;
}

.historyItem {
    border: solid purple 5px;
    border-radius: 5px;
}

.historyResult {
    text-align:center;
}