<div class="typesDisplay">
    <div>
        <div class="pkmType">
            <img ng-src="{{##obj##leftType.imgsrc}}" class="pkmTypeImg" />
        </div>
        <div class="vsSign">
            <img ng-src="{{imgPath}}Versus_sign.png" class="vsSignImg">
        </div>
        <div class="pkmType">
            <img ng-src="{{##obj##rightType.imgsrc}}" class="pkmTypeImg" />
        </div>
        <div class="pkmType" ng-if="##obj##dualType">
            <img ng-src="{{##obj##dualType.imgsrc}}" class="pkmTypeImg" />
        </div>
    </div>
    <div>
        <div class="pkmType">
            <div class="typeName">{{##obj##leftType.name}}</div>
        </div>
        <div class="vsSign"></div>
        <div class="pkmType">
            <div class="typeName">{{##obj##rightType.name}}</div>
        </div>
        <div ng-if="##obj##dualType" class="pkmType">
            <div class="typeName">{{##obj##dualType.name}}</div>
        </div>
    </div>
</div>